* { /* this is how all my elements are going to behave */
margin: 0; /*ensures no element has any margin by default */
padding: 0; /*ensures no element has any padding by default */
font-family:"Helvetica Neue",Helvetica,Arial,sans;
box-sizing: border-box; /* this changes how the size of an element is calculated */
}

body {
    background:#698ea8;
}

.app{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto;
    border-radius: 10px; /* i define the border */
    padding: 30px;
}